.quill {
  padding: 20px;
}

.ql-toolbar.ql-snow {
    border: none;
    padding: 0;
}

.ql-container.ql-snow {
    border: none;


}

.ql-snow .ql-editor h1 {
    font-size: 2.5rem;
}

.ql-snow .ql-editor h2 {
    font-size: 2rem;
}

.ql-snow .ql-editor h3 {
    font-size: 1.5rem;
}

.ql-snow .ql-editor h4 {
    font-size: 1rem;
}

.ql-editor {
    height: 75%;
}

.ql-editor p {
    font-size: 1.25rem;
    font-family: 'Pretendard-regular';
}

button.ql-header svg {
    display: none
}

.ql-header {
    color: #7B7E83;
}

/* .ql-header[value='1']:after {
    content: '';
    width: 20px;
    height: 20px;
    background-image: url('../../assets/img/Icon_H1.svg');
    background-size: cover;
    display: inline-block;
    margin-top: -1px;
    margin-left: 1px;
} */

.ql-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ql-header[value='1']:after {
    clear: both;
    content: 'H1';
    display: table;
    font-size: 18px !important;
    font-family: 'Pretendard-Bold';

}

.ql-header[value='2']:after {
    clear: both;
    content: 'H2';
    display: table;
    font-size: 18px !important;
    font-family: 'Pretendard-Bold';

}

.ql-header[value='3']:after {
    clear: both;
    content: 'H3';
    display: table;
    font-size: 18px !important;
    font-family: 'Pretendard-Bold';

}

.ql-header[value='4']:after {
    clear: both;
    content: 'H4';
    display: table;
    font-size: 18px !important;
    font-family: 'Pretendard-Bold';

}

button.ql-header.ql-active {
    color: #3891d0;
}